.dashboard-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-content: center;
}

.dashboard-label {
    position: relative;
    display: inline-block;
    margin-top: 48px;
    margin-bottom: 10px;
    font-size: 12px;
    color: var(--color-text-secondary);
    font-variant: small-caps;
    font-weight: 200;
}

.dashboard-label::before{
    content: '';
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #4ade80;
    top: 5px;
    right: -16px;
    animation: pulse 2s ease-in-out infinite;
}

.stats {
    padding: 12px 5px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.stats:hover {
    background-color: #f0f0f0;
}

.stats-number {
    font-size: 36px;
    font-weight: 700;
}

.stats-label {
    color: var(--color-text-primary);
    font-weight: 200;
    font-size: 12px;
}

sup{
    font-size: 14px;
    font-weight: 400;
    color: var(--color-text-secondary);
}