<header>
    <div class ="landing-header-container">
        <a class = "logo apple-gradient" [style.--page-gradient]="theme.pageGradient()" routerLink="/" routerLinkActive="" [routerLinkActiveOptions]="{exact: true}">DV</a>
        <svg *ngIf="!darkMode.isDarkMode()" (click)="darkMode.toggleTheme()" 
            width="18" height="18" viewBox="0 0 24 24" fill="none" 
            stroke="currentColor" stroke-width="2" style="cursor:pointer">
        <path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"/>
        </svg>

        <svg *ngIf="darkMode.isDarkMode()" (click)="darkMode.toggleTheme()"
            width="18" height="18" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" style="cursor:pointer">
        <circle cx="12" cy="12" r="5"/>
        <line x1="12" y1="1" x2="12" y2="3"/>
        <line x1="12" y1="21" x2="12" y2="23"/>
        <line x1="4.22" y1="4.22" x2="5.64" y2="5.64"/>
        <line x1="18.36" y1="18.36" x2="19.78" y2="19.78"/>
        <line x1="1" y1="12" x2="3" y2="12"/>
        <line x1="21" y1="12" x2="23" y2="12"/>
        <line x1="4.22" y1="19.78" x2="5.64" y2="18.36"/>
        <line x1="18.36" y1="5.64" x2="19.78" y2="4.22"/>
        </svg>
        <div class = "spacer"></div>
        <div class="landing-nav">
            <a routerLink="/engineering" [style.--page-gradient]="theme.pageGradient()" routerLinkActive="link-active">Engineering</a>
            <a routerLink="/photography" [style.--page-gradient]="theme.pageGradient()" routerLinkActive="link-active">Photography</a>
            <!-- <a routerLink="/learn" [style.--page-gradient]="theme.pageGradient()" routerLinkActive="link-active">Learn</a> -->
        </div>

        <button class="hamburger" (click)="toggleMenu()">
            <span *ngIf="!isMenuOpen">☰</span>
            <span *ngIf="isMenuOpen">x</span>
        </button>  

    </div>
    <div class="mobile-nav" [class.open]="isMenuOpen">
        <a routerLink="/engineering" [style.--page-gradient]="theme.pageGradient()" routerLinkActive="link-active" (click)="toggleMenu()">Engineering</a>
        <a routerLink="/photography" [style.--page-gradient]="theme.pageGradient()" routerLinkActive="link-active" (click)="toggleMenu()">Photography</a>
    </div>
</header>
<div class="line-break"></div>
<div class="page-transparent" [class.open]="isMenuOpen" (click)="toggleMenu()"></div>
