<header>
    <div class ="landing-header-container">
        <a class = "logo apple-gradient" [style.--page-gradient]="theme.pageGradient()" routerLink="/" routerLinkActive="" [routerLinkActiveOptions]="{exact: true}">DV</a>
        <div class = "spacer"></div>
        <div class="landing-nav">
            <a routerLink="/engineering" [style.--page-gradient]="theme.pageGradient()" routerLinkActive="link-active">Engineering</a>
            <a routerLink="/photography" [style.--page-gradient]="theme.pageGradient()" routerLinkActive="link-active">Photography</a>
            <!-- <a routerLink="/learn" [style.--page-gradient]="theme.pageGradient()" routerLinkActive="link-active">Learn</a> -->
        </div>

        <button class="hamburger" (click)="toggleMenu()">
            <span *ngIf="!isMenuOpen">☰</span>
            <span *ngIf="isMenuOpen">x</span>
        </button>  

    </div>
    <div class="mobile-nav" [class.open]="isMenuOpen">
        <a routerLink="/engineering" [style.--page-gradient]="theme.pageGradient()" routerLinkActive="link-active" (click)="toggleMenu()">Engineering</a>
        <a routerLink="/photography" [style.--page-gradient]="theme.pageGradient()" routerLinkActive="link-active" (click)="toggleMenu()">Photography</a>
    </div>
</header>
<div class="line-break"></div>
<div class="page-transparent" [class.open]="isMenuOpen" (click)="toggleMenu()"></div>
