:host{
    position: sticky;
    top: 0;
    z-index: 1000;
    display: block;
}

.landing-header-container {
    display: flex;
    padding: 8px 48px;
    background-color: var(--bg-color-white);
}

.logo {
    font-size: 21px;
    font-weight: 600;
    letter-spacing: -0.5px;
}

.spacer {
    flex: 1
}

.landing-nav{
    display: flex;
    gap: 48px;
    align-items: center;
}

.landing-nav a {
    font-size: 14px;
}