.locations {
    /* margin-top: 26px; */
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-self: center;
    padding: 32px;
    gap: 6px;
    font-size: 12px;
}

img {
    height: 15px;
}

.location-text, .location-seperator {
    color: var(--color-text-secondary);
}

.location-text {
    font-style: italic;
}