.footer-container{
    position: fixed;
    bottom: 0;
    text-align: center;
    z-index: 99999;
    width: 100%;
    background-color: var(--bg-color-white);
    /* height: 26px; */
    height: clamp(16px, 3vw, 26px);
}


.footer {
    font-size: clamp(6px, 2vw, 12px);
    text-align: center;
    font-style: italic;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-left .footer-right{
    padding: 12px;
}

.footer-left{
    padding-top: 5px;
    margin-left: 21px;
}

.footer-right{
    margin-top: 5px;
    margin-right: 21px;
}

@media (max-width: 786px) {
    .footer-right {
        display: none;
    }

    .footer-left .footer-right{
        padding: 6px;
    }
    
    .footer-left{
        padding-top: 2px;
    }

    .footer-right{
        margin-top: 2px;
    }
}