:host {
    --page-gradient: linear-gradient(360deg, oklch(0.77 0.09 240.14) 30%, #028cdf, #1b8fe7, #5bb5cf);
}

.line-break{
    margin: 22px auto;
    width: 60%;
}

.cta-buttons {
    margin: 100px auto;
    max-width: 60%;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
}