.cta-container {
    margin-left: 30%;
    margin-right: 30%;
    padding-top: 12px;
    padding-bottom: 12px;
    display: flex;
    justify-content: space-evenly;
}

.cta-logo {
  height: 36px;
  width: 36px;
  transition: transform 0.3s ease;
}

.cta-logo:hover{
  transform: scale(1.4);
}

/* Target the Angular component tags instead */
.cta-container a {
  opacity: 0;
  transform: translateY(20px);
  --fade-distance: 20px;
  animation: slideUp 0.6s ease forwards 1s;
}

/* Staggered delays for each component */
.cta-container a:nth-child(2) {animation-delay: 1.15s;}
.cta-container a:nth-child(3) {animation-delay: 1.30s;}
.cta-container a:nth-child(4) {animation-delay: 1.45s;}
.cta-container a:nth-child(5) {animation-delay: 1.50s;}
.cta-container a:nth-child(6) {animation-delay: 1.60s;}

/* .cta-icon-github {
  filter: invert(90%);
} */