.education-list {
    padding: 48px 48px;
    margin-bottom: 24px;
    background-color: var(--card-bg-color);
    border-radius: 18px;
    width: clamp(350px, 90%, 980px);
}

.education-section {
    display: flex;
    flex-direction: row;
    gap: 48px;
    align-items: center;
}

.education-logo {
    height: 75px;
    width: 75px;
    object-fit: contain;
}

.education-degree {
    font-size: 18px;
    font-weight: 600;
    letter-spacing: -0.3px;
}

.education-university {
    margin-top: 12px;
    color: var(--accent-color);
}

.education-timeline {
    margin-top: 12px;
    color: var(--color-text-secondary);
    min-width: 200px;
    flex-shrink: 0;
    font-weight: 500;
    font-size: 14px;
}

@media (max-width: 786px) {
    .education-list {
        padding: 12px 12px;
    }

    .education-section {
        gap: 22px;
    }

    .education-logo {
        width: 50px;
        height: 50px;
    }
    
    .education-degree {
        font-size: 14px;
    }

    .education-university {
        font-size: 12px;
    }

    .education-timeline {
        font-size: 9px;
    }
}