.tech-container {
    margin-top: 22px;
    width: 100%;
    overflow: hidden;
}

.tech-container-label {
    margin-bottom: 22px;
    padding: 12px 0;
    color: var(--color-text-primary);
    font-size: 36px;
    font-weight: 700;
}

.tech-group {
    display: flex;
    flex-direction: row;
    margin-bottom: 28px;
    align-items: flex-start;
}

.tech-label {
    color: var(--color-text-secondary);
    min-width: 200px;
    flex-shrink: 0;
    font-weight: 500;
    font-size: 12px;
    padding-top: 6px;
}

.tech-tags {
    display: flex;
    flex-direction: row;
    row-gap: 24px;
    column-gap: 12px;
    flex-wrap: wrap;
    justify-content: flex-start;
    max-width: 100%;
}

.tech-tag{
    border-radius: 980px;
    padding: 6px 14px;
    font-weight: 500;
    font-size: 14px;
    background-color: var(--tag-bg);

}

.primary {
    background-color: var(--tag-bg-primary);
    color: var(--tag-color);
}