.currently-card {
    margin: 48px auto;
    border-radius: 18px;
    max-width: 720px;
    padding: 48px;
    background-color: var(--card-bg-color);
    opacity: 0;
    animation: fadeInUp 0.8s ease forwards;
}

.currently-title{
    color: var(--title-color);
    font-weight: 600;
    font-size: 17px;
    margin-bottom: 16px;
    opacity: 0;
    animation: fadeInUp 0.8s ease 0.6s forwards;
}

.currently-focus{
    font-size: 40px;
    font-weight: 600;
    color: var(--color-text-primary);
    margin-bottom: 24px;
    opacity: 0;
    animation: fadeInUp 0.8s ease 0.4s forwards;
}

.problems-solved{
    font-size: 17px;
    font-weight: 400;
    color: var(--title-color);
    margin-bottom: 16px;
    opacity: 0;
    animation: fadeInUp 0.8s ease 0.2s forwards;
}

.progress-container {
    font-size: 56px;
    color: var(--color-text-primary);
    font-weight: 500;
    opacity: 0;
    animation: fadeInUp 0.8s ease 0.6 forwards;
}

.progress-container span{
    font-size: 40px;
    color: var(--title-color);
    font-weight: 300;
}

.progress-bar{
    height: 4px;
    width: 70%;
    background-color: rgba(0, 0, 0, 0.1);
    margin-top: 16px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
    opacity: 0;
    animation: fadeInUp 0.8s ease 0.6s forwards;
    overflow: hidden;
}

.progress-fill{
    background-color: var(--accent-color);
    height: 4px;
    width: 0;
    transition: width 1s ease;
}
