<div class="experience-heading" id="Blogs">Technical Blogs</div>
<div class="slider-wrapper"
    (scroll)=onSliderScroll($event)>
    <div class="slider-tracker">
        <div class="slider-pages" *ngFor="let page of pagedPosts">
            <div class="blog-post-grid">
                <app-blog-post-card *ngFor="let post of page; trackBy: trackBySlug"
                [post]="post" 
                (onReadMore)="openPost($event)" />
            </div>
        </div>
    </div>
</div>

<app-pagination
    [currentPage]="currentPage"
    [totalPages]="totalPages"
    (pageChange)="onClickPageDot($event)">
</app-pagination>

<app-blog-content-modal
    [post]="selectedPost"
    [isOpen]="isModalOpen"
    (onClose)="closePost()">
</app-blog-content-modal>
