h2 {
    color: var(--title-color);
    font-weight: 400;
    font-size: 17px;
    margin-top: 48px;
}

h1 {
    font-size: 80px;
    margin-top: 8px;
}

p{
    color: var(--title-color);
    margin-top: 8px;
    font-size: 28px;
    font-weight: 400;
    line-height: 1.4;
}

.title-container{
    height: 30vh;
    /* background-color: red; */
}