.profile-name {
    color: var(--title-color);
    opacity: 0;
    font-weight: 400;
    font-size: 17px;
    margin-top: 48px;
    animation: fadeInUp 0.8s ease forwards;
}

.designation {
    position: relative;
    display: inline-block;
    margin: 8px 0px;
    opacity: 0;
    animation: fadeInUp 0.8s ease 0.2s forwards;
}

.designation span {
  font-size: 80px;
  font-weight: 700;
  line-height: 1;
}

.base-text{
    color: var(--color-text-primary);
}

.profile-caption{
    display: inline-block;
    transform: scaleY(0.9);
    color: var(--title-color);
    margin-top: 8px;
    font-size: 28px;
    font-weight: 300;
    line-height: 1.5;
    font-style: italic;
    opacity: 0;
    animation: fadeInUp 0.8s ease 0.4s forwards;
}

.title-container{
    height: 30vh;
    /* background-color: red; */
}