:root {
    --color-text-primary: #1d1d1f;
    --color-text-secondary: #6e6e73;
    --color-text-hover: #000;
    --title-color: #86868b;
    --card-bg-color: rgb(245, 245, 247);
    --accent-color: #0071e3;
    --gradient-apple: linear-gradient(90deg,#0090F7 8%,#BA62FC,#F2416B,#F55600);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--color-text-primary);
    font-size: 17px;
    -webkit-font-smoothing: antialiased;
}

a {
  color: var(--color-text-secondary);
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: var(--color-text-hover);
}

.apple-gradient {
  background-image: var(--gradient-apple);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.apple-gradient-animation{
  position: absolute;
  top: 0;
  left: 0;

  background-image: var(--gradient-apple);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-bottom: 10px;

  opacity: 0;
  animation: fadeIn 3s ease 1s forwards;
}

.line-break {
  height: 1px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(60px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes fadeIn{
  from {
    opacity: 0;
  }
  to {opacity: 1;}
}

@keyframes fadeLeft {
  from {
    opacity: 0;
    transform: translateX(60px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
  
}