:root {
    --color-text-primary: #1d1d1f;
    --color-text-secondary: #6e6e73;
    --color-text-hover: #000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--color-text-primary);
    font-size: 17px;
}

a {
  color: var(--color-text-secondary);
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: var(--color-text-hover);
}