.button-inverted {
    display: inline-block;
    text-align: center;
    min-width: 140px;
    width: 160px;
    color: var(--accent-color);        
    background: transparent;           
    border: 1.5px solid var(--accent-color);
    padding: 11px 21px;
    font-size: 17px;
    border-radius: 100px;
    transition: all 0.2s ease;
}

.button-inverted:hover{
    background: var(--accent-color);
    color: white;
}